<div class="m-0 p-0" style="background-color: #794fa0;" id="panel-administrador">
    {{> headerAdmin}}
    <main>
        <div class="container-md d-flex flex-column" style="max-width: 700px;">
            <h1 class="text-white text-center mb-3 mt-3">
                Panel de administrador
            </h1>
            <div class="d-md-flex flex-row justify-content-end">
                <button class="btn btn-dark me-2 enviar"><a href="mensajes" class="text-white">Ver mensajes</a></button>
                <button class="btn btn-dark agregar"><a href="alta" class="text-white">Ingresar producto +</a></button>
            </div>
            <div id="tabla-administrador" class="p-0 mb-5 mt-2" style="border-radius: 6px; overflow: hidden">
                <table id="tabla-admin" class="table table-dark table-striped table-responsive text-center m-0">
                    <thead>
                        <tr>
                            <th>producto</th>
                            <th>precio</th>
                            <th>stock</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    {{#if productos}}
                    {{#each productos}}
                    <tr id="F{{this._id}}">
                        <td class="hoveru text-start detalle" id="D{{this._id}}">{{this.tipo}} {{this.banda}} #{{this.modelo}}</td>
                        <td id="P{{this._id}}">{{this.precio}} <i class="cambiar-precio fa-solid fa-pencil pointer" title="cambiar"></i></td>
                        <td class="agregar-stock" id="S{{this._id}}">{{this.stock}}<span class="agregar-stock pointer" title="agregar"> + </span></td>
                        <td class="eliminar" id="E{{this._id}}"><i class="eliminar fa-solid fa-trash pointer" title="eliminar"></i></td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </table>

            </div>
        </div>
    </main>
{{> detalle}}