<div class="m-0 p-0 text-white" id="pagina-mensajes">
    {{> headerAdmin}}
    <main>
        <div class="container d-flex flex-column text-center">
        {{#if mensajes}}
            <h1 class="titulo-de-pagina mb-3 mt-3">
                Mensajes
            </h1>
        <p>Hacé click en el asunto para ver el contenido del mensaje</p>
            <div style="display: flex; justify-content: center">
            <div id="div-tabla-mensajes" class="p-0 mb-5 mt-2" style="border-radius: 6px; overflow: hidden; max-width: 800px;">
                <table id="tabla-mensajes" class="table table-dark table-striped m-0 text-center">
                    <thead>
                        <tr class="text-center">
                            <th>fecha</th>
                            <th>nombre</th>
                            <th>e-mail</th>
                            <th>asunto</th>
                            <th>-</th>
                        </tr>
                    </thead>
                {{#each mensajes}}
                <tr id="F{{this._id}}">
                    <td data-titulo="Enviado: ">{{this.fecha}}</td>
                    <td data-titulo="Nombre: ">{{this.nombre}}</td>
                    <td data-titulo="E-mail: ">{{this.email}}</td>
                    <td data-titulo="Asunto: " class="hoveru asunto" id="S{{this._id}}"><span style="text-decoration: underline;" id="A{{this._id}}" class="asunto">{{this.asunto}}</span></td>
                    <td data-titulo="Eliminar " id="E{{this._id}}" class="eliminar"><i class="eliminar fa-solid fa-trash pointer pt-1" title="eliminar"></i></td>
                </tr>
                {{/each}}
                </table>
            </div>
            </div>
        {{else}}
        <h1 class="titulo-de-pagina mb-3 mt-3">No hay mensajes para mostrar</h1>
        {{/if}}
        </div>
        <div class="overlay">
            
            <div id="div-verMensaje" class="bg-black text-white p-3 rounded-4" style="min-width: 300px; max-width: 500px;">
                <div class="hstack pb-1">
                    <h3 class="ms-auto">Mensaje</h3>
                    <div class="ms-auto">
                        <button type="button" id="btn-cerrar-mensaje" style="background-color: transparent; border: none" class="text-white fs-5"><i class="fa-solid fa-x"></i></button>
                    </div>
                </div>
                
                <div style="border-bottom: 1px solid white;" class="ps-3 pe-3">
                    <p>De: <span id="de-mensaje" class="ms-2"></span></p>
                    <p>Asunto: <span id="asunto-mensaje" class="ms-2"></span></p>
                    <p>Enviado: <span id="fecha-mensaje" class="ms-2"></span></p>
                </div>
                <p id="mensaje" class="p-3 pb-0">Mensaje Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, cum dolore. Quasi quibusdam libero vero, enim necessitatibus hic deserunt, quas ipsum perferendis aspernatur mollitia, sapiente quam nam ad cupiditate natus.</p>
            </div>
        </div>
    </main>
</div>