<div class="m-0 p-0" style="background-color: #957d96;" id="pagina-mensajes">
    {{> headerAdmin}}
    <main>
        <div class="container d-flex flex-column">
        {{#if mensajes}}
            <h1 class="text-white text-center">
                Mensajes
            </h1>
        {{else}}
            <h1 class="text-center text-white">No hay mensajes para mostrar</h1>
        {{/if}}
            <div id="tabla-mensajes" class="p-0 mb-5 mt-2" style="border-radius: 6px; overflow: hidden">
                <table class="table table-dark table-striped table-responsive m-0 text-center">
                    <thead>
                        <tr class="text-center">
                            <th>fecha</th>
                            <th>nombre</th>
                            <th>e-mail</th>
                            <th>asunto</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                {{#if mensajes}}
                {{#each mensajes}}
                <tr>
                    <td>{{this.fecha}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.asunto}}</td>
                    <td>Acción</td>
                </tr>
                {{/each}}
                {{/if}}
                </table>
            </div>
        </div>
        {{> detalle}}
    </main>
</div>
{{> footer}}